<div class="grid-container">
    <!--Centrs, Populārākās lietotnes -->
    <div class="grid-lietotne">
        <h2 class="parskats">Pārskats</h2>
        <div id="img">
            <!--Seit izvadas lietotnes img(outimg) no lietotnes.json, ar javascript data_output_lietotne.js-->
        </div>
        <div id="app-heading">
            <!--Seit izvadas lietotnes nosaukums(outheading) no lietotnes.json, ar javascript data_output_lietotne.js-->
        </div>
        <!--Apraksts-->
        <div id="description">
            <!--Šeit izvadās apraksts(outdescription) no lietotnes.json, ar javascript data_output_lietotne.js-->
        </div>
        <!--Lejupielades poga--> 
        <a href="/lietotne/download" class="download">
        <div><i class="fas fa-download"></i>Lejupielādēt/Apskatīt</div>
        </a>
        <!--Ka instalet-->
        <a id="howtoinstall" href="/howtoinstall">Kā instalēt?</a>
        <!--Apraksts ar tekstu-->
        <div id="description-text">
            <h2>Apraksts</h2>
            <div id="description-text-out">
                <!--Seit izvadas lietotnes apraksts(outdescriptiontext) no lietotnes.json, ar javascript data_output_lietotne.js-->
            </div>
        </div>
        <div id="video">
            
        </div>
        <!--Galerija-->
        <div id="gallery">
            <div class="row">
            <!--Šeit izvadās galerijas(outrow) no lietotnes.json, ar javascript data_output_lietotne.js-->
            </div>
            <div id="myModal" class="modal">
                <span class="close cursor" onclick="closeModal()">&times;</span>
                <div class="modal-content">
                    <!--Šeit izvadās galerijas(outmodalcontent) no lietotnes.json, ar javascript data_output_lietotne.js-->
                </div>
            </div>
    
        </div>  
    </div>

<!--Labā pusē, Nodaļas,-->
<?php
require 'templates/aside.php';
?>
</div>